.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in-card {
  width: 450px;
  text-align: center;
  padding: 10px 0 20px;
}
.log-in-card__intro-title.ant-typography,
.log-in-card__intro-title.ant-typography + h3.ant-typography {
  margin-top: 5px;
}
.log-in-card__google-button {
  margin: 40px auto;
  border-radius: 2px;
  background-color: #4285f4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  border: none;
  display: flex;
  align-items: center;
  padding: 1px;
  color: #fff;
  cursor: pointer;
}
.log-in-card__google-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.log-in-card__google-button:active {
  background: #3367d6;
}
.log-in-card__google-button-logo {
  height: 43px;
}
.log-in-card__google-button-text {
  text-align: left;
  white-space: nowrap;
  padding: 10px;
}
.app-header {
  display: flex;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
.app-header__logo-search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.app-header__logo {
  display: inline-block;
  padding: 0 20px;
}
.app-header__logo img {
  width: 36px;
}
.app-header__search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
}
.app-header__search-input .ant-input-group {
  border: 0;
  width: 100%;
  max-width: 460px;
}
.app-header__search-input .ant-input-group input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.app-header__menu-section {
  float: right;
}
.app-header-skeleton {
  display: flex;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
.app-header-skeleton__search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.app-header-skeleton__logo {
  padding: 0 20px;
}
.app-header-skeleton__logo img {
  width: 55px;
}
.app-header-skeleton__search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
}
.app-header-skeleton__search-input .ant-input-group {
  border: 0;
  width: 100%;
  max-width: 460px;
}
.app-header-skeleton__search-input .ant-input-group input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.error-banner {
  position: fixed;
  width: 100%;
  top: 64px;
  left: 0;
  z-index: 99;
}
.app__affix-header {
  z-index: 99;
}

